:root{
    --slide-height: 400px;
    --slide-width: 600px;
    --slide-number: 3;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(122, 154, 167);
    user-select: none;
}

#container{
    height: var(--slide-height);
    width: var(--slide-width);
    margin: auto;
}

#slide-frame{
    height: var(--slide-height);
    width: var(--slide-width);
    margin: auto;
    overflow: hidden;
}

#slides{
    position: relative;
    height: var(--slide-height);
    width: calc(var(--slide-width) * var(--slide-number));
    display: flex;
    flex-direction: row;
    right: 0;
    transition: right 1s ease-in-out;
}

.slide{
    margin: auto;
    height: var(--slide-height);
    width: var(--slide-width);
}

.red{
    background: red;
}

.pink{
    background: pink;
}

.blue{
    background: blue;
}

.arrows{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.arrow{
    position: relative;
    height: 100%;
    display: flex;
    width: 40px;
    background: gray;
    opacity: 0.5;
}

.left-arrow{
    bottom: 100%;
}

.right-arrow{
    bottom: 100%;
    left: calc(var(--slide-width) - 2 * 40px);
}

p{
    margin: auto;
    font-size: 1.5em;
}

.arrow:hover{
    cursor: pointer;
}

.arrow:hover p{
    font-size: 3em;
}

#nav-sliders{
    position: relative;
    bottom: calc(100% + 50px);
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nav-slider{
    width: 50px;
    height: 100%;
    display: flex;
}

.active {
    font-size: 2em;
}

.nav-slider:hover{
    cursor: pointer;
}

.nav-slider:hover:not(.active) p{
    font-size: 3em;
}
