:root{
    --slide-height: 400px;
    --slide-width: 600px;
    --slide-number: 3;
}

html, body{
    height: 100%;
    width: 100%;
    display: flex;
    background: rgb(122, 154, 167);
}

#container{
    height: var(--slide-height);
    width: var(--slide-width);
    margin: auto;
    overflow: hidden;
}

#slides{
    position: relative;
    height: var(--slide-height);
    width: calc(var(--slide-width) * var(--slide-number));
    display: flex;
    flex-direction: row;
    transition: right 1s ease-in-out;
}

.slide{
    margin: auto;
    height: var(--slide-height);
    width: var(--slide-width);
}

.red{
    background: red;
}

.pink{
    background: pink;
}

.blue{
    background: blue;
}